Sets

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [2]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

Access Set Items

In [ ]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

apple
banana
cherry

In [4]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [5]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

Add Set Items

In [1]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'cherry', 'apple', 'orange'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'pineapple', 'mango', 'banana', 'apple', 'cherry', 'papaya'}

In [3]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'apple', 'kiwi', 'orange', 'banana', 'cherry'}