Sets

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [2]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'banana', 'apple'}

Access Set Items

In [3]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

cherry
banana
apple

In [4]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [5]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

Add Set Items

In [6]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'cherry', 'orange', 'banana', 'apple'}

In [7]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'papaya', 'pineapple', 'cherry', 'mango', 'banana', 'apple'}

In [8]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'kiwi', 'cherry', 'banana', 'apple', 'orange'}

Remove Set Items

In [9]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [10]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

cherry
{'banana', 'apple'}

In [11]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [12]:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

Loop Sets

In [ ]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

cherry
apple
banana

Join Sets

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'b', 2, 3, 'c', 'a'}

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 'b', 2, 3, 'c', 'a'}

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 'b', 2, 3, 'Elena', 'bananas', 'apple', 'cherry', 'John', 'c', 'a'}

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 'b', 2, 3, 'Elena', 'bananas', 'apple', 'cherry', 'John', 'c', 'a'}

In [ ]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 'b', 2, 3, 'c', 'a'}

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'b', 2, 3, 'c', 'a'}

frozenset

In [ ]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>