<a href="https://colab.research.google.com/github/najibifar/Python_Tutorial/blob/main/Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [7]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [8]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [9]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [10]:
x = "John"
# is the same as
x = 'John'

In [11]:
a = 4
A = "Sally"
#A will not overwrite a