<a href="https://colab.research.google.com/github/najibifar/Python_Tutorial/blob/main/Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Variables

In [6]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [7]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [8]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [9]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [10]:
x = "John"
# is the same as
x = 'John'

In [11]:
a = 4
A = "Sally"
#A will not overwrite a

#Assign Multiple Values

In [12]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [13]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [14]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

#Output Variables

In [15]:
x = "Python is awesome"
print(x)

Python is awesome

In [16]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [17]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

#Global Variables

In [18]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [19]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [20]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic